In [28]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/flight-delays/airports.csv
/kaggle/input/flight-delays/airlines.csv
/kaggle/input/flight-delays/flights.csv

In [29]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

In [30]:
df_flights = pd.read_csv('/kaggle/input/flight-delays/flights.csv')
df_flights.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_airports = pd.read_csv('/kaggle/input/flight-delays/airports.csv')
df_airports

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [32]:
df_loc = df_flights[['ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'CANCELLED']]
df_loc['LAT'] = 0

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [35]:
dict_lat = dict(zip(df_airports['IATA_CODE'],df_airports['LATITUDE']))

In [37]:
df_loc['LAT'] = df_loc['ORIGIN_AIRPORT'].map(dict_lat)
df_loc['LON'] =

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_airlines = pd.read_csv('/kaggle/input/flight-delays/airlines.csv')
# df_airlines.index = df_airlines['IATA_CODE']
# df_airlines.drop('IATA_CODE', axis=1, inplace=True )
df_airlines

# Inspecting the data
We want to get a high-level overview of data, summary statistics and data types

In [ ]:
df_flights.info()

In [ ]:
df_flights.describe()

# Looking for missing values

In [ ]:
df_flights.isnull().sum().sort_values(ascending=False)

# Separating the numeric and categorical column names

In [ ]:
cols = df_flights.columns

num_cols = df_flights._get_numeric_data().columns



cat_cols = list(set(cols) - set(num_cols))
num_cols = list(set(cols) - set(cat_cols))
print(cat_cols)
print(num_cols)

# Inspecting the target column
We want to find out if the number of cancellations and non-cancellations are balanced or not. We expect number of cancellations to be lower.

In [ ]:
df_flights['CANCELLED'].value_counts()

# Cancellation by month

In [ ]:
df_flights['MONTH'].unique()

In [ ]:
df_monthly = df_flights.groupby('MONTH', as_index=True)['CANCELLED'].sum()
df_monthly

# Another way to groupby month as per our requirements using pandas `melt` with groupby

In [ ]:
monthly = pd.melt(df_flights, id_vars=['MONTH'], value_vars=['CANCELLED'])
monthly

In [ ]:
cancelled_monthly = monthly.groupby('MONTH')[['value']].sum()
cancelled_monthly

In [ ]:
cancelled_monthly.plot(kind='bar', rot=0)

So most of the flights were cancelled in the month of February

In [ ]:
df_monthly.plot(kind='bar', rot=0)

In [ ]:
df_airline = df_flights.groupby('AIRLINE')['CANCELLED'].sum()
df_airline

In [ ]:
names = df_airlines.to_dict()
names['AIRLINE']

In [ ]:
df_airline.plot.bar(rot=0)